<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<title>Pb</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <script src="{% static 'js\bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery\jquery.min.js' %}"></script>
    <script src="{% static 'js\bootstrap.bundle.min.js' %}"></script>

<style>
    body{
        background-image: url({% static 'img\3.png' %});
        background-attachment: fixed;
        background-size: cover;
    }
    .navbar-nav li a:hover{
        background-color: rgba(217, 217, 217, 0.7) !important;
    }
    .navbar-nav li a:active{
        background-color: rgba(217, 217, 217, 0.1);
    }
     /*Haciendo que el menu se desplegue al pasar el mouse encima*/
    .dropdown:hover .dropdown-menu{
        display: block;
        margin-top: 0;
    }
</style>
</head>
<body>

<!--Navbar-->
<nav class='navbar navbar-expand-md' style="font-family: 'Times New Roman', Times, serif; color: aliceblue;">
    <a class='navbar-brand mr-auto' href="{% url 'home' %}">
        <img src=" {%  static 'img\home.png' %}" alt="home" width="28px" class="float-left" title="Home">
    </a>
    <a class='navbar-brand ml-center' href="http://www.etecsa.cu" style="margin-left: 20px;">
        <img src=" {%  static 'img\etecsa w.png' %}" alt="etecsa" width="40px" title="www.etecsa.cu">
    </a>
    <a class='navbar-brand ml-center' href="http://localhost:8000/admin" style="margin-left: auto;">
        <img src=" {%  static 'img\ajuste.png' %}" alt="admin" width="24px" title="Admin" class="float-left">
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <img src=" {%  static 'img\more.png' %}" alt="home" width="25px" class="float-left" >
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" class="float-left">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a style="color: aliceblue;" class="nav-link dropdown-toggle" data-toggle='dropdown' href="{% url 'rel_trgtas_vendidas' %}">RELACION DE TARJETAS VENDIDAS</a>
                <div class="dropdown-menu dropdown-menu-right" style="background-color: rgba(217, 217, 217, 0.1);">
                    <a style="color: aliceblue;" class="dropdown-item" href="{% url 'rel_trgtas_vendidas_cup' %}">CUP</a>
                    <a style="color: aliceblue;" class="dropdown-item" href="{% url 'rel_trgtas_vendidas_nauta' %}">NAUTA</a>
                    <a style="color: aliceblue;" class="dropdown-item" href="{% url 'rel_trgtas_vendidas_movil' %}">MÓVIL</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a style="color: aliceblue;" class="nav-link dropdown-toggle" data-toggle='dropdown' href="{% url 'facturaciones' %}">FACTURACIONES</a>
                <div class='dropdown-menu dropdown-menu-right' style="background-color: rgba(217, 217, 217, 0.1);">
                    <a style="color: aliceblue;" class='dropdown-item' href="{% url 'facturaciones_cup' %}">CUP</a>
                    <a style="color: aliceblue;" class='dropdown-item' href="{% url 'facturaciones_cuc' %}">CUC</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a style="color: aliceblue;" class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'extras' %}">EXTRAS</a>
                <div class="dropdown-menu dropdown-menu-right" style="background-color: rgba(217, 217, 217, 0.1);">
                    <a style="color: aliceblue;" class="dropdown-item" href="{% url 'extras_arqueo' %}">ARQUEO</a>
                    <a style="color: aliceblue;" class="dropdown-item" href="{% url 'ap' %}">AP</a>
                    <a style="color: aliceblue;" class="dropdown-item" href="{% url 'prestamistas' %}">PRESTAMISTAS</a>
                    <a style="color: aliceblue;" class="dropdown-item" href="{% url 'recargas' %}">RECARGAS</a>
                    <a style="color: aliceblue;" class="dropdown-item" href="{% url 'situacion_financiera' %}">SITUACION FINANCIERA</a>
                </div>
            </li>
            <li class="nav-item">
            <a class='nav-link disabled' href="#" style="color: rgba(217, 217, 217, 0.3);">|</a>
            </li>
            <li class="nav-item">
                <a style="color: aliceblue;" class="nav-link" href="{% url 'onat_etecsa' %}">ONAT-ETECSA</a>
            </li>
        </ul>
    </div>
</nav>
<hr style="margin-top: 0px; background-color:rgba(217, 217, 217, 0.3);">

<!--Contenido cambiante-->
    {% block content %}
    {% endblock content %}

<!--Barside-->



<!--Footer-->

</body>
</html>